.icen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 10px 10px;
    
}

footer{
    
    margin-top: 100px;
  }

.icons {
    font-size: 20px;
    width: 25%;
}


a {
    text-decoration: none;
    float: left;
    display: flex;
    
}

.icones {
    font-size: 17px;
    float: left;
    display: flex;
    flex-direction: column;
    
}